@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Serif+4:opsz,wght@8..60,500;8..60,600;8..60,700;8..60,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-orange: #ff6d18d5;
  --orange-color: #FF6B18;
  --green-color: #005A31;
  --white-color: #ffffff;
  --white-grey-color: #e4e4e4;
  --purple-color: #2d2041;
  --dark-grey-color: #0e121b;
  --poppins: 'Poppins', sans-serif;
  --source-serif: 'Source Serif 4', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: var(--poppins);
}

h1 {
    background-color: var(--purple-color);
    font-family: var(--source-serif);
    color: var(--white-color);
    padding: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
}

.about_container {
    max-width: 1440px; 
    margin: 0 auto;
    padding: 1rem;
}

.about_sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--purple-color);
  margin-bottom: 2rem;
}
.about_sec1:nth-child(2) {
  flex-wrap: wrap-reverse;
}
.__text_sec1 {
  width: 650px;
}

.__text_sec1 p {
  padding: 1rem;
  line-height: 1.5;
}

.__text_sec1 h3{
  font-size: 2rem;
  padding: 1rem;
}

.__image_sec1 img{
  width: 100%;
  border-radius: 1rem;
}
