@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Serif+4:opsz,wght@8..60,500;8..60,600;8..60,700;8..60,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --light-orange: #ff6d18d5;
    --orange-color: #FF6B18;
    --green-color: #005A31;
    --white-color: #ffffff;
    --white-grey-color: #e4e4e4;
    --purple-color: #2d2041;
    --dark-grey-color: #0e121b;
    --poppins: 'Poppins', sans-serif;
    --source-serif: 'Source Serif 4', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: var(--poppins);
}
h1 {
    font-family: var(--source-serif);
}

.landing-image {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 50, 0.7), rgba(0, 0, 50, 0.7)), url(images/farmer-image\ 01.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
}

.landing-image h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.landing-image i {
    font-size: 1.5rem;
    background-color: var(--orange-color);
    padding: 1rem 1.2rem;
    border-radius: 10rem;
    margin-left: 1rem;
    transition: 0.3s ease-in-out;
}

.landing-image a{
    color: var(--white-color);
    text-decoration: none;
}

.landing-image p{
    border: 2px solid var(--white-color);
    font-size: 1.5rem;
    border-radius: 5rem;
    padding-left: 1rem;
    margin-top: 1rem;
}
.landing-image i:hover {
    background-color: transparent;
}


/*   ######################## farmer section styling #############################################  */

.title-farmer {
    background-color: var(--green-color);
    color: var(--white-color);
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-farmer h1 {
    font-size: 4rem;
}

.farmer-item-box {
    max-width: 1440px;
    background-color: var(--white-grey-color);
    margin: 0 auto;
}

.farmer-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    color: var(--purple-color);
    background-color: var(--white-grey-color);
    color: var(--white-color);
}

.farmer-text {
    max-width: 600px;
    width: 100%;
    padding: 10px 2rem;
}

.farmer-text h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--green-color);
}

.farmer-text p {
    font-size: 1.2rem;
    color: var(--purple-color);
}

.farmer-image {
    max-width: 600px;
    width: 100%;
    padding: 1rem;
}

.farmer-image img{
    width: 100%;
    margin: 1rem 0;
    border-radius: 1rem;
}

.farmer-item-box h1 {
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.farmer-box1 button {
    background-color: var(--orange-color);
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 0.4rem;
}

.farmer-box1 button a {
    text-decoration: none;
    color: var(--white-color);
}

.farmer-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--white-color);
}

.why-choose {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
    color: var(--purple-color);
}

.why-choose-text-box {
    width: 400px;
    height: 470px;
    background: var(--white-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.why-choose-text-box h3 {
    text-align: center;
    margin: 1rem;
    color: var(--purple-color);
} 
.why-choose-image img {
    width: 160px;
}

.why-choose-text-box:hover {
    transform: scale(102%);
}

.list-span span{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.list-span p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.list-span h2 {
    margin-bottom: 0.5rem;
}






/*################################### investor section ###############################################*/

.investor_landing {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 50, 0.7), rgba(0, 0, 50, 0.7)), url(../images/investor-image\ 01.jpg);
    background-position: center;
    background-size: cover;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.investor_landing h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.investor_landing a{
    text-decoration: none;
    font-size: 1.8rem;
    font-family: var(--poppins);
    color: var(--purple-color);
}

.investor_landing button {
    color: var(--white-color);
    background-color: var(--white-grey-color);
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s ease-out;
}

.investor_landing button:hover {
    background-color: transparent;
}

.investor__sec1 {
    max-width: 1440px;
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--white-color);
}

.__sec1-item {
    max-width: 600px;
    padding: 2rem;
}

.__sec1-item h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--purple-color);
}

.__sec1-item p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--purple-color);
}

.__sec1-item h3 a{
    color: var(--white-color);
    background-color: var(--purple-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.__sec1-item h3 a:hover {
    background-color: transparent;
    color: var(--orange-color);
}
.__sec1-item_image {
    max-width: 600px;
}

.__sec1-item_image img{
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
}

.investor_heading_2 {
    text-align: center;
    color: var(--purple-color);
    padding: 2rem;
    font-size: 1.2rem;
    background-color: var(--white-grey-color);
}

.__investor-choose {
    background-color: var(--white-grey-color);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.__item_box {
    height: 500px;
    width: 400px;
    padding: 1rem;
    background-color: var(--white-color);
    transition: 0.3s ease-out;    
}

.item_box_image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.item_box_image img {
    width: 200px;
    height: 200px;
}

.__item_box h3 {
    padding: .6rem;
    text-align: center;
    color: var(--purple-color);
}

.__item_box p {
    padding: 1rem;
    text-align: center;
    color: var(--purple-color);
}

.__item_box:hover {
    transform: scale(102%);
}

.__sec1-item2 {
    max-width: 650px;
    width: 100%;
    color: var(--purple-color);
    padding: 1rem;
}

.__sec1-item2 h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.__sec1-item2 p {
    margin-bottom: 1rem;
}

.__sec1-item2 span {
    font-weight: 700;
}

.investor_heading_3 {
    text-align: center;
    color: var(--purple-color);
    padding: 1rem;
    font-size: 1.3rem;
}

/* Our Promise to Farmers and investors */
.investor__sec2 {
    background-color: var(--white-grey-color);
    margin: 0 auto;
}
.investor__sec2 h1 {
    color: var(--purple-color);
    padding: 1rem;
    text-align: center;
}

.__sec2_text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.__sec2_text1 p {
    background-color: var(--white-grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    width: 350px;
    height: 250px;
    padding: 1.5rem;
    color: var(--purple-color);
    border-radius: 0.5rem;
}

.__sec2_text1 p span {
    font-weight: 900;
    font-size: 1.5rem;
}

.__sec2_text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem;
    color: var(--purple-color);
}

.text2_item {
    width: 450px;
    height: 300px;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: var(--white-grey-color);
}

.text2_item h3 {
    font-weight: 800;
    font-size: 2rem;
}

.investor__sec2 h3 a{
    text-decoration: none;
    padding: 1rem;
    color: var(--white-color);
    background-color: var(--purple-color);
    margin: 0 auto;
}
/* #################### media Queries ######################*/
@media (max-width: 360px) {
    .landing-image h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .investor_landing h1 {
        font-size: 4rem;
    }

    .investor_heading_2 {
        text-align: center;
        background-color: var(--purple-color);
        color: var(--white-color);
        font-size: 1rem;
    }
    .investor_heading_3 {
        text-align: center;
        background-color: var(--purple-color);
        color: var(--white-color);
        padding: 1.5rem;
        font-size: 1rem;
    }
    .text2_item {
        height: 300px;
        margin-bottom: 1rem;
    }
    .__sec2_text2 {
        margin: 2rem 0.5rem;
    }

    .farmer-text {
        padding: 1rem;
    }

    .farmer-text h2 {
        font-size: 2rem;
    }

    .text2_item {
        width: 450px;
        height: 350px;
        padding: 1.5rem;
        text-align: center;
        border-radius: 0.5rem;
        background-color: var(--white-grey-color);
    }

    .__item_box {
        height: 550px;
        width: 400px;
        padding: 1rem;
        background-color: var(--white-color);
        transition: 0.3s ease-out;
    }

}



