@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Serif+4:opsz,wght@8..60,500;8..60,600;8..60,700;8..60,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-orange: #ff6d18d5;
    --orange-color: #FF6B18;
    --green-color: #005A31;
    --white-color: #ffffff;
    --white-grey-color: #e4e4e4;
    --purple-color: #2d2041;
    --dark-grey-color: #0e121b;
    --poppins: 'Poppins', sans-serif;
    --source-serif: 'Source Serif 4', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: var(--poppins);
}

h1 {
    font-family: var(--source-serif);
}

.heading {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

.heading h1 {
    color: var(--orange-color);
    font-size: 2rem;
    text-align: center;
}

.section-text-box {
}

.box1-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem auto;
}

.box1-text-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: var(--white-grey-color);
}

.text-box {
    max-width: 700px;
    width: 100%;
}

.text-box h2 {
    margin-bottom: 1rem;
    color: var(--purple-color);
}

.text-box p {
    line-height: 1.6rem;
    color: var(--purple-color);
}

.image {
    max-width: 700px;
    width: 100%;
    padding: 1rem;
}

.image img {
    width: 100%;
    border-radius: 1rem;
}

/* next/back buttons stylings */
.nextback-btns {
    height: 90px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: var(--orange-color);
    padding: 0.5rem 2rem;
    border: none;
    margin: 1rem;
    color: var(--white-color);
    border-radius: 0.3rem;
}
.next {
    background-color: var(--orange-color);
    padding: 0.5rem 2rem;
    border: none;
    margin: 1rem;
    color: var(--white-color);
    border-radius: 0.3rem;
}

.back a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 550;
}
.next a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 550;
}
.next a:hover {
    color: var(--purple-color);
}
.back a:hover {
    color: var(--purple-color);
}

/* ####################### ourvision styling ################### */

.ourvision {
    background-color: var(--white-color);
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0;
}

.__vision-header {
    max-width: 720px;
    padding: 2rem 0;
}

.__vision-header h1 {
    font-size: 2rem;
    color: var(--purple-color);
    padding: 0 2rem;
}

.__vision-header p {
    padding: 1rem 2rem;
}

.__vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    background-color: var(--white-color);
    gap: 2rem;
}

.__vision_box {
    width: 320px;
    background-color: var(--orange-color);
    color: var(--white-color);
}

.__vision-text {
    padding: 1rem;
    background-color: var(--orange-color);
}

.__vision-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--purple-color);
}

.__vision-image {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--orange-color);
}

.__vision-image i {
    font-size: 7rem;
    text-align: center;
    padding: 2rem;
    color: var(--white-color);
}

/* building  */
.building {
    background-color: var(--white-grey-color);
}

.building_header {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--purple-color);
    padding: 2rem 1rem;
}

.building_header h1 {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}

.building_header p {
    text-align: center;
    font-size: 1.3rem;
}

.building-box {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 2rem 0;
    margin: 0 auto;
}

.building-image {
    max-width: 700px;
    /* width: 100%; */
}

.building-image img {
    width: 100%;
    border-radius: 1rem;
}

.building-text {
    max-width: 700px;
    padding: 2rem;
}

.building-text h2 {
    margin: 0.5rem 0;
}

.building-text p {
    margin: 1rem 0;
}

/* digitization */
.digitization {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 0;
    color: var(--purple-color);
}

.digitization h1 {
    max-width: 1000px;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 1.5rem auto;
}

.__digital-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}
.__digital-text {
    width: 700px;
    padding: 1.5rem;
}

.__digital-text h2{
    margin: 1rem 0;
}
.__digital-image {
    width: 700px;
    padding: 1rem;
}
.__digital-image img {
    width: 100%;
    border-radius: 1rem;
}

.__digital-box:nth-child(3) {
    flex-wrap: wrap-reverse;
}

/* food security triad */
.foodsecurity {
    background-color: var(--white-grey-color);
}
.__food-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}
.__food-container h1 {
    max-width: 1000px;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}
.food-header {
    text-align: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

.__food-box-item  {
    padding: 2rem 0;
}

.__food-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.__food-text {
    max-width: 700px;
    padding: 1rem;
}
.__food-text h2 {
    margin: 1rem 0;
}
.__food-image {
    max-width: 650px;
    padding: 1rem;
}
.__food-image img {
    width: 100%;
    border-radius: 1rem;
}

.__food-box:nth-child(2) {
    margin: 2rem 0;
    flex-wrap: wrap-reverse;
}

/* flagship */
.__flagship-container {
    max-width: 1440px;
    margin: 0 auto;
}
.__flagship-box-item {
    padding: 1rem;
}
.__flagship-container h1 {
    max-width: 900px;
    font-size: 2rem;
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center;
    color: var(--purple-color);
}

.__flagship-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.__flagship-text {
    max-width: 700px;
    padding: 1.5rem;
    color: var(--purple-color);
}
.__flagship-text h2 {
    padding: 1rem 0;
}
.__flagship-image {
    max-width: 700px;
    padding: 1rem 0;
}
.__flagship-image img {
    width: 100%;
    border-radius: 1rem;
}
.__flagship-box:nth-child(2) {
    flex-wrap: wrap-reverse;
    margin: 2rem 0;
}
@media (max-width: 531px) {
    /* food security triad */
    .__food-image {
        padding: 0;
    }
    .__food-text {
        padding: 0.5rem;
    }
    /* flaship */
    .__flagship-text {
        padding: 0;
    }
}