@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-orange: #ff6d18d5;
    --orange-color: #FF6B18;
    --green-color: #005A31;
    --white-color: #ffffff;
    --white-grey-color: #e4e4e4;
    --purple-color: #2d2041;
    --dark-grey-color: #0e121b;
    --lexend: 'Lexend Deca', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Lexend', sans-serif;
}


.heading {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

.heading h1 {
    color: var(--orange-color);
    font-size: 2rem;
    text-align: center;
}

.section-text-box {
}

.box1-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem auto;
}

.box1-text-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: var(--white-grey-color);
}

.text-box {
    max-width: 700px;
    width: 100%;
}

.text-box h2 {
    margin-bottom: 1rem;
    color: var(--purple-color);
}

.text-box p {
    line-height: 1.6rem;
    color: var(--purple-color);
}

.image {
    max-width: 700px;
    width: 100%;
    padding: 1rem;
}

.image img {
    width: 100%;
    border-radius: 1rem;
}

/* next/back buttons stylings */
.nextback-btns {
    height: 90px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: var(--orange-color);
    padding: 0.5rem 2rem;
    border: none;
    margin: 1rem;
    color: var(--white-color);
    border-radius: 0.3rem;
}
.next {
    background-color: var(--orange-color);
    padding: 0.5rem 2rem;
    border: none;
    margin: 1rem;
    color: var(--white-color);
    border-radius: 0.3rem;
}

.back a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 550;
}
.next a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 550;
}
.next a:hover {
    color: var(--purple-color);
}
.back a:hover {
    color: var(--purple-color);
}

/* ####################### ourvision styling ################### */

.ourvision {
    background-color: var(--white-color);
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0;
}

.__vision-header {
    max-width: 720px;
    padding: 2rem 0;
}

.__vision-header h1 {
    font-size: 2rem;
    color: var(--purple-color);
    padding: 0 2rem;
}

.__vision-header p {
    padding: 1rem 2rem;
}

.__vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    background-color: var(--white-color);
    gap: 2rem;
}

.__vision_box {
    width: 320px;
    background-color: var(--orange-color);
    color: var(--white-color);
}

.__vision-text {
    padding: 1rem;
    background-color: var(--orange-color);
}

.__vision-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--purple-color);
}

.__vision-image {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
}

.__vision-image i {
    font-size: 9rem;
    text-align: center;
    padding: 1rem;
    color: var(--purple-color);
}