@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --light-orange: #ff6d18d5;
    --orange-color: #FF6B18;
    --green-color: #005A31;
    --white-color: #ffffff;
    --white-grey-color: #e4e4e4;
    --purple-color: #2d2041;
    --dark-grey-color: #0e121b;
    --lexend: 'Lexend Deca', sans-serif;
  }

html {
    scroll-behavior: smooth;
}


.title-section {
    text-align: center;
    background-color: var(--white-grey-color);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-section h1 {
    color: var(--purple-color);
    font-size: 3rem;
}

.container {
    margin: 0 auto;
}

.services-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 3rem auto;
}

.item-box {
    width: 300px;
    height: 475px;
    background-color: var(--white-grey-color);
    border-radius: 0.6rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.item-box:hover {
    transform: scale(102%);
}

.image-box img {
    width: 300px;
}

.text-box {
    padding: 1.5rem;
}

.text-box button a{
    color: var(--white-color);
    text-decoration: none;
}

.text-box button a:hover{
    color: var(--purple-color);
}
.text-box h3 {
    color: var(--purple-color);
    margin-bottom: 0.7rem;
}

.text-box p {
    color: var(--purple-color);
    font-size: 1rem;
    margin-bottom: 1rem;
}


.image-2 img {
    width: 100%;
    height: 200px;
}
.text-box button {
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: .5rem 1.5rem;
    font-size: 16px;
    font-family: var(--lexend);
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
}

.section2-box {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.section2-heading {
    background-color: var(--green-color);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-heading h2 {
    color: var(--white-color);
    margin: 1.5rem;
    /* font-size: 2.5rem; */
    font-weight: 700;
}

.item-box2 {
    width: 630px;
   /*  height: 650px; */
    background-color: var(--white-grey-color);
    border-radius: 1rem;
    overflow: hidden;
    transition: 0.3s ease-out;
}

.item-box2:hover {
    transform: scale(102%);
}

.item-box-image {
    width: 100%;
}

.item-box-image img {
    width: 100%;
}

.text-box2 {
    padding: 1.5rem;
}

.text-box2 h3 {
    color: var(--purple-color);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.item-box2 p {
    line-height: 1.5;
    color: var(--purple-color);
}

.text-box2-p2 {
    font-size: 15px;
}


/* ########################################Smart investiment stylings section ###################################################*/


.smart-investiment h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 1.5rem;
    background-color: var(--green-color);
    color: var(--white-color);
}

.smart-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.smart-text-sec {
   width: 720px;
   padding: 1.5rem; 
}

.smart-text-sec h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--purple-color);
}

.smart-text-sec p {
    font-size: 1.1rem;
    line-height: 1.2;
    color: var(--purple-color);
}

.smart-image-sec {
    width: 720px;
}

.smart-image-sec img {
    width: 100%;
}

.smart-link {
    margin-top: 1rem;
}
.link-btn {
    margin-top: 1rem;
}
.link-btn a {
    text-decoration: none;
    color: var(--white-color);
    padding: 0.5rem;
    background-color: var(--orange-color);
}

/* ########################## agribusiness ##############################*/

.agribusiness h1{
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 2rem;
    text-align: center;
}

.agribusiness p {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.__item-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 2rem;
}

.__box {
    height: 280px;
    width: 350px;
    text-align: center;
    background-color: var(--white-grey-color);
    padding: 1.5rem 1.5rem;
    border-radius: 0.4rem;
}

.__box i {
    color: var(--orange-color);
    font-size: 3rem;
}

.__box p {
    font-weight: normal;
    font-size: 1rem;
    color: var(--purple-color);
    line-height: 1.3;
}

.__box span{
    font-weight: 700;
    font-size: 1.2rem;
}
.__footer-paragraph {
    max-width: 1000px;
    margin: 0 auto;
}
.__footer-paragraph p{
    font-weight: normal;
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
}


/* ############### Government Partnerships ########################### */
.government-sec h1 {
    background-color: var(--green-color);
    color: var(--white-color);
    text-align: center;
    padding: 1.6rem;
    font-size: 2rem;
}

.__govern-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--purple-color);
}

.__Text-area {
    max-width: 800px;
}

.__item-text {
    padding: 1rem 2rem;
}
.__item-text h3 {
    padding: 0.5rem 0;
}

.__image {
    max-width: 720px;
}

.__image img{
    width: 100%;
}
@media (max-width: 360px) {
    .section2-box {
        margin: 1rem 0;
    }

    .item-box {
        width: 330px;
    }
}